.container-PintureObject {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }
  .size-img {
    width: 100%;
    height: auto;
  }
  .autor-img{
    margin: 10px 0;
  }
  .id-img{
    margin: 0px;
  }
